/* Reset de algunos estilos b치sicos */
* {
    margin: 0;
    padding: 0;
    color: #000000;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.subrayado {
    background-color: #77D7DB;
    padding-bottom: 2px;
}

header {
    background: #ffffff;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.algo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main-nav ul {
    list-style: none;
    display: flex;
    color: #000000;
    align-items: center;
}

#main-nav ul li a {
    color: #000000;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 60px;
}

#menu-toggle {
    display: none;
    color: black;
    background-color: #000000;
    /* Lo mostraremos solo en mobile */
}

main {
    margin-top: 45px;
}

footer {
    text-align: center;
    margin: 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

#news .title-nov {
    font-size: 132px;
    margin: 0;
    padding: 0;
}

/* Estilos para pantallas peque침as */
@media (max-width: 768px) {
    #main-nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    #main-nav.active ul {
        display: flex;
    }

    #menu-toggle {
        display: block;
        background-color: #000000;
        color: #fff;
        border: none;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 15px;
    }


}

@media (max-width: 1160px) {
    #home .home-title {
        font-size: 180px;
    }
}

@media (max-width: 1126px) {
    #home .home-title {
        font-size: 150px;
    }
}

@media (max-width: 860px) {
    #home .home-title {
        font-size: 130px;
    }
}

@media (max-width: 746px) {
    #home .home-title {
        font-size: 100px;
    }

    #news .title-nov {
        font-size: 80px;
    }
}

@media (max-width: 730px) {
    #home .home-title {
        font-size: 80px;
    }

    #news .title-nov {
        font-size: 80px;
    }
}

@media (max-width: 690px) {
    #newa .title-nov {
        font-size: 20px;
    }
}

#full-width-text {
    width: 100%;
    background-color: #FF5E43;
    text-align: center;
    font-size: 2.2em;
    color: #000000;
}

.full-width-parraph {
    font-size: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

#image-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1DA1F2;
}

#image-slider2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #77D7DB;
    margin: 0;
    padding: 0;
}

.image-container2 {
    flex: 1;
    /* Ocupa la mitad derecha del contenedor */
    display: flex;
    justify-content: center;
    /* Centra la imagen horizontalmente */
    align-items: center;
    /* Centra la imagen verticalmente */
}

.image-container2 img {
    max-width: 100%;
    /* Ajusta la imagen para que se ajuste al contenedor sin desbordar */
    height: auto;
    /* Mantiene la proporci칩n de la imagen */
}

.image-container img {
    width: 100%;
    height: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}

.image-container2 img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.slider {
    max-width: 40%;
    text-align: center;
}

.slider2 {
    max-width: 40%;
    text-align: center;
    width: 100%;
    height: 100%;
}


#slider-text {
    margin-bottom: 1%;
}

#slider-text2 {
    font-size: 24px;
}

.titulo-nuestroenfoque {
    font-size: 16px;
    margin-bottom: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background-color: #1DA1F2;
    border-radius: 0;
    margin-right: 5%;
    width: 5%;
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.slider-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#repository ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

#repository a {
    font-size: 42px;
}

#repository .repo-title {
    font-size: 72px;
    margin-left: 5%;
}

.repo-parraph {
    margin-right: 5%;
}

.repo-title-div {
    display: flex;
    justify-content: space-between;
}

.repo-parraph {
    align-content: center;
}

#repository ul li {
    position: relative;
    cursor: pointer;
    width: 100%;
}

#repository li {
    margin: 0.3%;
}

a {
    text-decoration: none;
    color: #000000;
}

#news {
    background-color: #fff;
    max-width: 100%;
}

#news,
#home,
.titulo-nuestroenfoque h2 {
    text-align: center;
    margin-bottom: 20px;
}

.home-title {
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 205px;
}

#home p {
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
}

#home {
    width: 100%;
    background-color: white;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px) translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

.footer-content {
    background-color: #000000;
    color: #fff;
}

.footer-content .social-links a {
    color: #fff;
    text-decoration: none;
}

.footer-content .social-links a:hover {
    text-decoration: underline;
}

.footer-nav ul li a {
    color: #ffffff;

}

.footerdelfooter span {
    color:
        #FFFFFF;

}

div.footerdelfooter {
    max-width: 100%;
    align-content: space-between;

}

.span1 {
    order: 1;
}

.span2 {
    order: 2;
}

.button-footer {
    width: 400px;
    height: 60px;
    font-size: 14px;
    background-color:
        #77D7DB;
}

.titulo-footer {
    font-size: 32px;
    color: #ffffff;
}

.footer-nav {
    align-items: flex-end;
    justify-content: left;

}

footer {
    background-color: #000000;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.col2 {
    justify-content: flex-end;
    align-items: flex-end;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px 0;
}

.marquee {
    display: flex;
    white-space: nowrap;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.img-marquee {
    width: 20%;
    height: 20%;
}

.marque-title {
    font-size: 132px;
    font-weight: 700;
    margin-left: 3%;
    margin-right: 3%;
}

.marquee-1 {
    animation-name: marquee-left;
}

.marquee-2 {
    animation-name: marquee-right;
}

.marquee-3 {
    animation-name: marquee-left;
}


@keyframes marquee-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}


/* #newsdiv {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
} */

#newsdiv > div {
    position: relative;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
}

#newsdiv > div:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 2; /* Ajusta la opacidad si es necesario */
}

/* Aplicando las im치genes correspondientes a cada div */
#newsdiv .webinar:hover::before {
    background-image: url('assets/images/cafe-img.jfif');
}

#newsdiv .event:hover::before {
    background-image: url('assets/images/NOVEDADES.jfif');
}

#newsdiv .publi:hover::before {
    background-image: url('assets/images/pc-img.jfif');
}

#newsdiv .newswithimg:hover::before {
    background-image: url('assets/images/persona-pc-img.jfif');
}

#newsdiv > div > h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #302f2f;
    position: relative;
    z-index: 2;
}

#newsdiv > div > a {
    color: #000000;
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 2;
}

@media (min-width: 768px) {
    #newsdiv > div {
        width: calc(25% - 20px); /* Ajusta para mostrar 4 columnas */
    }
}
#newsdiv {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.webinar {
    background-color: #40B5E0;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newswithimg {
    background-color: #77D7DB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    font-size: 24px;
}

.event {
    background-color: #44D19D;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.publi {
    background-color: #FEDA3C;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


#newsdiv h3 {
    transition: opacity 0.3s ease;
}

#newsdiv a {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.6s ease;
}

#newsdiv div:hover h3 {
    opacity: 0; /* Hace desaparecer el h3 */
}

#newsdiv div:hover a {
    opacity: 1;
    margin-top: 110px;
    padding-top: 10px;
}
