/* Reset de algunos estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}
section{
    margin: 0;
    padding: 0;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background: #ffffff;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

#main-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: #000000;
}

#main-nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    color: #000000;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#menu-toggle {
    display: none;
    /* Lo mostraremos solo en mobile */
}

main {
    margin-top: 45px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    #main-nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    #main-nav.active ul {
        display: flex;
    }

    #menu-toggle {
        display: block;
        background-color: #000000;
        color: #fff;
        border: none;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 15px;
    }


}

#full-width-text {
    width: 100%;
    background-color: #FF5E43;
    padding: 20px;
    text-align: center;
    font-size: 2.2em;
    color: #000000;
}

.full-width-parraph {
    font-size: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

#image-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1DA1F2;
}

#image-slider2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #77D7DB;
    margin: 0;
    padding: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}
.image-container2 img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.slider {
    max-width: 40%;
    text-align: center;
}

.slider2 {
    max-width: 40%;
    text-align: center;
    width: 100%;
    height: 100%;
}


#slider-text {
    margin-bottom: 20px;
}

#slider-text2{
    font-size: 24px;
}

.titulo-nuestroenfoque {
    font-size: 16px;
    margin-bottom: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#repository ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
#repository a{
    font-size: 42px;
}

#repository .repo-title{
    font-size: 72px;
    margin-left: 5%;
}
.repo-parraph{
    margin-right: 5%;
}
.repo-title-div{
    display: flex;
    justify-content: space-between;
}

.repo-parraph{
    align-content: center;
}

#repository ul li {
    position: relative;
    cursor: pointer;
    width: 100%;
}

#repository li {
    margin: 0.3%;
}

/* #repository ul li img { 
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
} */

/* #repository ul li:hover img {
    display: block;
} */
a {
    text-decoration: none;
    color: #000000;
}

#news {
    background-color: #fff;
}

#news,
#home,
.titulo-nuestroenfoque h2 {
    text-align: center;
    margin-bottom: 20px;
}

#home h1 {
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 205px;
}

#home p {
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
}

#home{
    background-color: white;
}

#newsdiv {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/* #news div{
    position: relative;
    margin: 20px 0;
    cursor: pointer;
}

#news div img {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

} */

/* #news ul li:hover img {
    display: block;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
} */

#news .title-nov {
    font-size: 132px;
    margin: 0;
    padding: 0;
}
.webinar{
    background-color: #40B5E0;
    font-size: 24px;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
}
.newswithimg{
    background-color: #77D7DB;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    width: 30%;
    font-size: 24px;
}

.event{
    background-color: #44D19D;
    font-size: 24px;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
}

.publi{
    background-color: #FEDA3C;
    font-size: 24px;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px) translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

.footer-content {
    text-align: center;
    padding: 20px;
    background-color:#333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-content .social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-content .social-links a:hover {
    text-decoration: underline;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px 0;
}

.marquee {
    display: flex;
    white-space: nowrap;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.img-marquee {
    width: 30%;
}

.marque-title {
    font-size: 132px;
    font-weight: 700;
}

.marquee-1 {
    animation-name: marquee-left;
}

.marquee-2 {
    animation-name: marquee-right;
}

.marquee-3 {
    animation-name: marquee-left;
}

@keyframes marquee-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}