* {
    margin: 0;
    padding: 0;
    color: #000;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background-color: #fff;
}

.subrayado {
    background-color: #77D7DB;
    padding-bottom: 2px;
}

header {
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
}

#main-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    color: #000;
}

#main-nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 60px;
}

#menu-toggle {
    display: none;
    background-color: #000;
    color: #fff;
}

main {
    margin-top: 45px;
}

#news .title-nov {
    font-size: 10vw;
}

@media (max-width: 1139px) {
    #main-nav ul {
        margin-top: 6%;
        margin-right: 6%;
        display: none;
        flex-direction: column;
        text-align: center;
    }

    #main-nav.active ul {
        display: flex;
    }

    #menu-toggle {
        display: block;
        border: none;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 15px;
    }
}

#full-width-text {
    width: 100%;
    background-color: #FF5E43;
    text-align: center;
    font-size: 2.2em;
}

.full-width-parraph {
    font-size: 64px;
    font-weight: 400;
}

#image-slider, #image-slider2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#image-slider {
    background-color: #1DA1F2;
}

#image-slider2 {
    background-color: #77D7DB;
}

.image-container, .image-container2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-container img, .image-container2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider, .slider2 {
    max-width: 40%;
    text-align: center;
    flex-wrap: wrap;
}

.slider2 {
    width: 100%;
    height: 100%;
}

#slider-text {
    margin-bottom: 1%;
}

#slider-text2 {
    font-size: 24px;
}

.titulo-nuestroenfoque {
    font-size: 16px;
    margin-bottom: 50%;
}

button {
    background-color: #1DA1F2;
    margin-right: 5%;
    width: 5%;
    padding: 0;
    border: none;
}

.slider-buttons {
    display: flex;
    justify-content: space-between;
}

#repository ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
}

#repository a {
    font-size: 42px;
}

#repository .repo-title {
    font-size: 72px;
    margin-left: 5%;
}

.repo-parraph {
    margin-right: 5%;
    align-content: center;
}

.repo-title-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#repository ul li {
    position: relative;
    cursor: pointer;
    width: 100%;
    margin: 0.3%;
}

a {
    text-decoration: none;
    color: #000;
}

#news, #home, .titulo-nuestroenfoque h2 {
    text-align: center;
    margin-bottom: 20px;
}

.home-title {
    margin-top: 80px;
    font-size: 10vw;
}

#home p {
    font-weight: 700;
    font-size: 64px;
}

#home {
    width: 100%;
    background-color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px) translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

.footer-content {
    background-color: #000;
    color: #fff;
}

.footer-content .social-links a {
    color: #fff;
}

.footer-content .social-links a:hover {
    text-decoration: underline;
}

.footer-nav ul li a {
    color: #fff;
}

.footerdelfooter {
    max-width: 100%;
    align-content: space-between;
}

.span1 {
    order: 1;
}

.span2 {
    order: 2;
}

.button-footer {
    width: 400px;
    height: 60px;
    font-size: 14px;
    background-color: #77D7DB;
    cursor: pointer;
}

.titulo-footer {
    font-size: 32px;
    color: #fff;
}

.footer-nav {
    align-items: flex-end;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}

@media (max-width: 660px) {
    footer {
        display: flex;
        flex-direction: row;
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #fff;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    padding: 10px 0;
}

.marquee {
    display: flex;
    white-space: nowrap;
    font-size: 20px;
    padding: 10px;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.img-marquee {
    width: 20%;
    height: 20%;
}

.marque-title {
    font-size: 132px;
    font-weight: 700;
    margin: 0 3%;
}

.marquee-1 {
    animation-name: marquee-left;
}

.marquee-2 {
    animation-name: marquee-right;
}

.marquee-3 {
    animation-name: marquee-left;
}

@keyframes marquee-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

#newsdiv > div {
    position: relative;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
}

#newsdiv > div:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 2;
}

#newsdiv .webinar:hover::before {
    background-image: url('assets/images/cafe-img.jfif');
}

#newsdiv .event:hover::before {
    background-image: url('assets/images/NOVEDADES.jfif');
}

#newsdiv .publi:hover::before {
    background-image: url('assets/images/pc-img.jfif');
}

#newsdiv .newswithimg:hover::before {
    background-image: url('assets/images/persona-pc-img.jfif');
}

#newsdiv > div > h3 {
    font-size: 1.2rem;
    color: #302f2f;
    position: relative;
    z-index: 2;
}

#newsdiv > div > a {
    color: #000;
    display: block;
    position: relative;
    z-index: 2;
}

@media (min-width: 768px) {
    #newsdiv > div {
        width: calc(25% - 20px);
    }
}

#newsdiv {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
}

.webinar, .newswithimg, .event, .publi {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.webinar {
    background-color: #40B5E0;
}

.newswithimg {
    background-color: #77D7DB;
    width: 30%;
}

.event {
    background-color: #FE7864;
}

.publi {
    background-color: #FF5E43;
}
